@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins',Arial, Helvetica, sans-serif;
  font-size: 100;
}

footer {
  display: block;
  border: 1px solid;
  padding: 2%;
  background: #ddd;
}

